@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  --ct-color-bg-primary: #fff;
  --ct-color-bg-secundary: #F78B00;
  --ct-color-bg-tertiary: #00285F;

  --ct-color-font-primary: #000;
  --ct-color-font-secundary: #585858;
  --ct-color-font-tertiary: #00285F;
  --ct-color-font-quaternary: #fff;
  --ct-color-font-placeholder: #a7a7a7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
}

.ct-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}